@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

* {
  box-sizing: border-box;
  
}

html,
body {

  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  
}


.main-container {
  overflow: hidden;
}

.comic {
  width: 150px;
  height: auto;
  padding-bottom: 20%;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.5;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.comic h3 {
  font-size: 15px;
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);;
  padding: 1%;
  margin: 0px;
  z-index: 10;
}

.comic h4 {
  visibility:hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  background-color: yellow;
  padding: 1%;
  margin: 0px;
}



.rare h4{
  visibility: visible;
}


.comic:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 1;
  z-index: 10;
}

.popup {
  position: fixed;
  top: 100px;
  left: 50%;
  z-index: 1000;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  visibility: hidden;
  opacity: 0;
}

.popup h1 {
  margin-top: 0px;
}

.popup.show {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}

.popup .bottom {
  padding: 15px;
  width: 100%;
  bottom: 0px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
}

.popup .close {
  position: absolute;
  width: 30px;
  height: 30px;
  color: #ffffff;
  font-size: 20px;
  padding-left: 10px;
  right: -30px;
  top: 0px;
  background-color: #000000;
}

.popup .close:hover {
  cursor: pointer;
}

body {
  background-image : url(http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=5c5c5c&density=13&opacity=10);
  z-index: -100;
}


